{% extends 'base.html' %}
{% block content %}
<section class="w-all">
    <nav class="mt20">
        <ul class="clearfix">
            <li><a title="{{ settings.SITE_NAME }}小说网首页" href="/"><i class="pticon pticon-home pticon-lg"></i> {{ settings.SITE_NAME }}小说网首页</a><i class="pticon pticon-angle-right icon"></i></li>
            <li><a title="{{ category.name }}小说" href="/category/{{ category.pinyin }}.html">{{ category.name }}小说</a><i class="pticon pticon-angle-right icon"></i></li>
            <li><a title="{{ book.name }}" href="/book/{{ book.pinyin }}.html">{{ book.name }}</a><i class="pticon pticon-angle-right icon"></i></li>
            <li><a title="{{ book.name }}最新章节列表" href="/{{ book.pinyin }}/chapters.html">{{ book.name }}最新章节列表</a></li>
        </ul>
    </nav>
    <div class="container clearfix mt20">
        <div class="w-left">
            <div class="card">
                <div class="header line">
                    <h1>{{ book.name }} 最新章节列表</h1>
                </div>
                <div class="body novel">
                    <ul class="chapterlist">
                        {% for c in chapters %}
                        <li>
                            <span class="n">
                                <a title="{{book.name}} {{ c.title }}" style="" href="/jump?link={{ c.link }}" target="_blank">{{ book.name }} {{ c.title }}</a>
                            </span>
                            <span class="t">{{ c.updated_at|date:'Y-m-d H:i:s' }}</span>
                            <span class="s">
                                <a title="看看{{ book.name }}在“{{ c.source_name }}”上的更新" style="" href="/source/{{ c.source_pinyin }}/{{ book.pinyin }}.html">{{ c.source_name }}</a>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer pagination" style="font-size: 13px;">
                    <span>共{{ total_page }}页 {{ total }}条</span>
                    <a href="/{{book.pinyin}}/chapters.html" class="first number">&lt;&lt;</a>
                    <a href="{% ifequal page 1 %}/{{book.pinyin}}/chapters.html{% else %}/{{book.pinyin}}/chapters-{{page|add:-1}}.html{% endifequal %}" class="prev number">&lt;</a>
                    {% for p in pages %}
                        {% ifequal p page %}
                        <a class="current" href="javascript:;">{{p}}</a>
                        {% else %}
                        <a href="/{{book.pinyin}}/chapters-{{p}}.html" class="number">{{p}}</a>
                        {% endifequal %}
                    {% endfor %}
                    <a href="/{% ifequal page total_page %}{{book.pinyin}}/chapters-{{total_page}}.html{% else %}{{book.pinyin}}/chapters-{{page|add:1}}.html{% endifequal %}"
       class="next number">&gt;</a>
                    <a href="/{{book.pinyin}}/chapters-{{ total_page }}.html" class="last number">&gt;&gt;</a>
                </div>
            </div>
        </div>
        <div class="w-right">
            <div class="card pt-tab">
                <div class="header tab pt-tab-nav">
                    <ul class="clearfix">
                        <li class="active">本月热门</li>
                        <li>本周热门</li>
                    </ul>
                </div>
                <div class="body pt-tab-con">
                    <ul class="rightlist">
                                                                        <li><i class="first">1</i><span><a title="辰东 作品大全" href="/author/%E8%BE%B0%E4%B8%9C/">辰东</a></span><a title="圣墟" href="/1361/">圣墟</a></li>
                                                <li><i class="first">2</i><span><a title="莫默 作品大全" href="/author/%E8%8E%AB%E9%BB%98/">莫默</a></span><a title="武炼巅峰" href="/94/">武炼巅峰</a></li>
                                                <li><i class="first">3</i><span><a title="逆苍天 作品大全" href="/author/%E9%80%86%E8%8B%8D%E5%A4%A9/">逆苍天</a></span><a title="杀神" href="/29/">杀神</a></li>
                                                <li><i>4</i><span><a title="辰东 作品大全" href="/author/%E8%BE%B0%E4%B8%9C/">辰东</a></span><a title="完美世界" href="/148/">完美世界</a></li>
                                                <li><i>5</i><span><a title="辰东 作品大全" href="/author/%E8%BE%B0%E4%B8%9C/">辰东</a></span><a title="遮天" href="/12/">遮天</a></li>
                                                <li><i>6</i><span><a title="鱼人二代 作品大全" href="/author/%E9%B1%BC%E4%BA%BA%E4%BA%8C%E4%BB%A3/">鱼人二代</a></span><a title="校花的贴身高手" href="/38/">校花的贴身高手</a></li>
                                                <li><i>7</i><span><a title="风凌天下 作品大全" href="/author/%E9%A3%8E%E5%87%8C%E5%A4%A9%E4%B8%8B/">风凌天下</a></span><a title="傲世九重天" href="/26/">傲世九重天</a></li>
                                                <li><i>8</i><span><a title="我吃西红柿 作品大全" href="/author/%E6%88%91%E5%90%83%E8%A5%BF%E7%BA%A2%E6%9F%BF/">我吃西红柿</a></span><a title="莽荒纪" href="/96/">莽荒纪</a></li>
                                                <li><i>9</i><span><a title="花都大少 作品大全" href="/author/%E8%8A%B1%E9%83%BD%E5%A4%A7%E5%B0%91/">花都大少</a></span><a title="极品全能学生" href="/408/">极品全能学生</a></li>
                                                <li><i>10</i><span><a title="唐家三少 作品大全" href="/author/%E5%94%90%E5%AE%B6%E4%B8%89%E5%B0%91/">唐家三少</a></span><a title="绝世唐门" href="/88/">绝世唐门</a></li>
                                                <li><i>11</i><span><a title="蛇发优雅 作品大全" href="/author/%E8%9B%87%E5%8F%91%E4%BC%98%E9%9B%85/">蛇发优雅</a></span><a title="神医弃女：邪王霸爱小狂妃" href="/2864/">神医弃女：邪王霸爱小狂妃</a></li>
                                                <li><i>12</i><span><a title="天蚕土豆 作品大全" href="/author/%E5%A4%A9%E8%9A%95%E5%9C%9F%E8%B1%86/">天蚕土豆</a></span><a title="武动乾坤" href="/14/">武动乾坤</a></li>
                                                <li><i>13</i><span><a title="黄金战士 作品大全" href="/author/%E9%BB%84%E9%87%91%E6%88%98%E5%A3%AB/">黄金战士</a></span><a title="重生之妖孽人生" href="/42/">重生之妖孽人生</a></li>
                                                <li><i>14</i><span><a title="孤单地飞 作品大全" href="/author/%E5%AD%A4%E5%8D%95%E5%9C%B0%E9%A3%9E/">孤单地飞</a></span><a title="神道丹尊" href="/466/">神道丹尊</a></li>
                                                <li><i>15</i><span><a title="禹枫 作品大全" href="/author/%E7%A6%B9%E6%9E%AB/">禹枫</a></span><a title="武神天下" href="/210/">武神天下</a></li>
                                            </ul>
                    <ul class="rightlist none">
                                                                        <li><i class="first">1</i><span><a title="辰东 作品大全" href="/author/%E8%BE%B0%E4%B8%9C/">辰东</a></span><a title="圣墟" href="/1361/">圣墟</a></li>
                                                <li><i class="first">2</i><span><a title="莫默 作品大全" href="/author/%E8%8E%AB%E9%BB%98/">莫默</a></span><a title="武炼巅峰" href="/94/">武炼巅峰</a></li>
                                                <li><i class="first">3</i><span><a title="逆苍天 作品大全" href="/author/%E9%80%86%E8%8B%8D%E5%A4%A9/">逆苍天</a></span><a title="杀神" href="/29/">杀神</a></li>
                                                <li><i>4</i><span><a title="辰东 作品大全" href="/author/%E8%BE%B0%E4%B8%9C/">辰东</a></span><a title="完美世界" href="/148/">完美世界</a></li>
                                                <li><i>5</i><span><a title="辰东 作品大全" href="/author/%E8%BE%B0%E4%B8%9C/">辰东</a></span><a title="遮天" href="/12/">遮天</a></li>
                                                <li><i>6</i><span><a title="鱼人二代 作品大全" href="/author/%E9%B1%BC%E4%BA%BA%E4%BA%8C%E4%BB%A3/">鱼人二代</a></span><a title="校花的贴身高手" href="/38/">校花的贴身高手</a></li>
                                                <li><i>7</i><span><a title="风凌天下 作品大全" href="/author/%E9%A3%8E%E5%87%8C%E5%A4%A9%E4%B8%8B/">风凌天下</a></span><a title="傲世九重天" href="/26/">傲世九重天</a></li>
                                                <li><i>8</i><span><a title="我吃西红柿 作品大全" href="/author/%E6%88%91%E5%90%83%E8%A5%BF%E7%BA%A2%E6%9F%BF/">我吃西红柿</a></span><a title="莽荒纪" href="/96/">莽荒纪</a></li>
                                                <li><i>9</i><span><a title="花都大少 作品大全" href="/author/%E8%8A%B1%E9%83%BD%E5%A4%A7%E5%B0%91/">花都大少</a></span><a title="极品全能学生" href="/408/">极品全能学生</a></li>
                                                <li><i>10</i><span><a title="唐家三少 作品大全" href="/author/%E5%94%90%E5%AE%B6%E4%B8%89%E5%B0%91/">唐家三少</a></span><a title="绝世唐门" href="/88/">绝世唐门</a></li>
                                                <li><i>11</i><span><a title="蛇发优雅 作品大全" href="/author/%E8%9B%87%E5%8F%91%E4%BC%98%E9%9B%85/">蛇发优雅</a></span><a title="神医弃女：邪王霸爱小狂妃" href="/2864/">神医弃女：邪王霸爱小狂妃</a></li>
                                                <li><i>12</i><span><a title="天蚕土豆 作品大全" href="/author/%E5%A4%A9%E8%9A%95%E5%9C%9F%E8%B1%86/">天蚕土豆</a></span><a title="武动乾坤" href="/14/">武动乾坤</a></li>
                                                <li><i>13</i><span><a title="黄金战士 作品大全" href="/author/%E9%BB%84%E9%87%91%E6%88%98%E5%A3%AB/">黄金战士</a></span><a title="重生之妖孽人生" href="/42/">重生之妖孽人生</a></li>
                                                <li><i>14</i><span><a title="孤单地飞 作品大全" href="/author/%E5%AD%A4%E5%8D%95%E5%9C%B0%E9%A3%9E/">孤单地飞</a></span><a title="神道丹尊" href="/466/">神道丹尊</a></li>
                                                <li><i>15</i><span><a title="禹枫 作品大全" href="/author/%E7%A6%B9%E6%9E%AB/">禹枫</a></span><a title="武神天下" href="/210/">武神天下</a></li>
                                            </ul>
                </div>
            </div>
            <div class="card mt20">
                <div class="header line">
                    <h3>三寸人间 站点列表</h3>
                </div>
                <div class="body ">
                    <ul class="rightlist">
                                                                        <li><i>1</i><a title="三寸人间 大家读" href="/23452/list_dajiadu/">大家读</a></li>
                                                <li><i>2</i><a title="三寸人间 三七中文" href="/23452/list_37zw/">三七中文</a></li>
                                                <li><i>3</i><a title="三寸人间 大海中文" href="/23452/list_dhzw/">大海中文</a></li>
                                                <li><i>4</i><a title="三寸人间 少年文学" href="/23452/list_snwx/">少年文学</a></li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}