{% extends 'base.html' %}

{% block content %}
    <section class="w-all">
    <nav class="mt20">
        <ul class="clearfix">
            <li><a href="/" title="{{ settings.SITE_NAME }}小说网首页"><i class="pticon pticon-home pticon-lg"></i> {{ settings.SITE_NAME }}小说网首页</a><i class="pticon pticon-angle-right icon"></i></li>
            <li><a href="/" title="精品小说">精品小说</a></li>
        </ul>
    </nav>
    <div class="container clearfix mt20">
        <div class="w-left">
            <div class="card">
                <div class="header line">
                    <h2>精品说列表</h2>
                </div>
                <div class="body">
                    <ul class="updatelist">
                        {% for book in data %}
                        <li class="headerhui">
                            <span class="n">[<a href="/category/{{ book.category.pinyin }}.html" title="{{ book.category.name }}小说">{{ book.category.name }}</a>]&nbsp;&nbsp;<a href="/book/{{ book.pinyin }}.html" title="{{ book.name }}"><strong>{{ book.name }}</strong></a></span>
                            <span class="c"><a href="/jump?link={{ book.chapter.link }}.html" title="{{ book.chapter.title }}" target="_blank">{{ book.chapter.title }}</a></span>
                            <span class="a"><a href="/author/{{ book.author.pinyin }}.html" title="{{ book.author.name }}">{{ book.author.name }}</a></span>
                            <span class="t">{{ book.chapter.updated_at | date:"m-d H:i:s" }}</span>
                            <div class="clear"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer pagination" style="font-size: 13px;">
                    <span>共{{ total_page }}页 {{ total }}条</span>
                    <a href="/" class="first number">&lt;&lt;</a>
                    <a href="{% ifequal page 1 %}/{% else %}list-{{page|add:-1}}.html{% endifequal %}" class="prev number">&lt;</a>
                    {% for p in pages %}
                        {% ifequal p page %}
                        <a class="current" href="javascript:;">{{p}}</a>
                        {% else %}
                        <a href="/list-{{p}}.html" class="number">{{p}}</a>
                        {% endifequal %}
                    {% endfor %}
                    <a href="/{% ifequal page total_page %}list-{{total_page}}.html{% else %}list-{{page|add:1}}.html{% endifequal %}"
       class="next number">&gt;</a>
                    <a href="/list-{{ total_page }}.html" class="last number">&gt;&gt;</a>
                </div>
            </div>
        </div>
        <div class="w-right">
            <div class="card">
                <div class="header line">
                    <h3>小说排行</h3>
                </div>
                <div class="body">
                    <ul class="toplist clearfix">
                                                                        <li><a href="/top/postdate.html" title="入库时间">入库时间</a></li>
                                                <li><a href="/top/lastupdate.html" title="最新更新">最新更新</a></li>
                                                <li><a href="/top/dayvisit.html" title="日点击">日点击</a></li>
                                                <li><a href="/top/weekvisit.html" title="周点击">周点击</a></li>
                                                <li><a href="/top/monthvisit.html" title="月点击">月点击</a></li>
                                                <li><a href="/top/allvisit.html" title="总点击">总点击</a></li>
                                                <li><a href="/top/marknum.html" title="收藏数">收藏数</a></li>
                                                <li><a href="/top/votenum.html" title="推荐数">推荐数</a></li>
                                                <li><a href="/top/downnum.html" title="下载数">下载数</a></li>
                                            </ul>
                </div>
            </div>
            <div class="card mt20">
                <div class="header">
                    <h3>本月热门</h3>
                </div>
                <div class="body">
                    <ul class="rightlist">
                                                                        <li><i class="first">1</i><span><a href="/author/%E8%BE%B0%E4%B8%9C/" title="辰东 作品大全">辰东</a></span><a href="/1361/" title="圣墟">圣墟</a></li>
                                                <li><i class="first">2</i><span><a href="/author/%E8%8E%AB%E9%BB%98/" title="莫默 作品大全">莫默</a></span><a href="/94/" title="武炼巅峰">武炼巅峰</a></li>
                                                <li><i class="first">3</i><span><a href="/author/%E9%80%86%E8%8B%8D%E5%A4%A9/" title="逆苍天 作品大全">逆苍天</a></span><a href="/29/" title="杀神">杀神</a></li>
                                                <li><i>4</i><span><a href="/author/%E8%BE%B0%E4%B8%9C/" title="辰东 作品大全">辰东</a></span><a href="/148/" title="完美世界">完美世界</a></li>
                                                <li><i>5</i><span><a href="/author/%E8%BE%B0%E4%B8%9C/" title="辰东 作品大全">辰东</a></span><a href="/12/" title="遮天">遮天</a></li>
                                                <li><i>6</i><span><a href="/author/%E9%B1%BC%E4%BA%BA%E4%BA%8C%E4%BB%A3/" title="鱼人二代 作品大全">鱼人二代</a></span><a href="/38/" title="校花的贴身高手">校花的贴身高手</a></li>
                                                <li><i>7</i><span><a href="/author/%E9%A3%8E%E5%87%8C%E5%A4%A9%E4%B8%8B/" title="风凌天下 作品大全">风凌天下</a></span><a href="/26/" title="傲世九重天">傲世九重天</a></li>
                                                <li><i>8</i><span><a href="/author/%E6%88%91%E5%90%83%E8%A5%BF%E7%BA%A2%E6%9F%BF/" title="我吃西红柿 作品大全">我吃西红柿</a></span><a href="/96/" title="莽荒纪">莽荒纪</a></li>
                                                <li><i>9</i><span><a href="/author/%E8%8A%B1%E9%83%BD%E5%A4%A7%E5%B0%91/" title="花都大少 作品大全">花都大少</a></span><a href="/408/" title="极品全能学生">极品全能学生</a></li>
                                                <li><i>10</i><span><a href="/author/%E5%94%90%E5%AE%B6%E4%B8%89%E5%B0%91/" title="唐家三少 作品大全">唐家三少</a></span><a href="/88/" title="绝世唐门">绝世唐门</a></li>
                                                <li><i>11</i><span><a href="/author/%E8%9B%87%E5%8F%91%E4%BC%98%E9%9B%85/" title="蛇发优雅 作品大全">蛇发优雅</a></span><a href="/2864/" title="神医弃女：邪王霸爱小狂妃">神医弃女：邪王霸爱小狂妃</a></li>
                                                <li><i>12</i><span><a href="/author/%E5%A4%A9%E8%9A%95%E5%9C%9F%E8%B1%86/" title="天蚕土豆 作品大全">天蚕土豆</a></span><a href="/14/" title="武动乾坤">武动乾坤</a></li>
                                                <li><i>13</i><span><a href="/author/%E9%BB%84%E9%87%91%E6%88%98%E5%A3%AB/" title="黄金战士 作品大全">黄金战士</a></span><a href="/42/" title="重生之妖孽人生">重生之妖孽人生</a></li>
                                                <li><i>14</i><span><a href="/author/%E5%AD%A4%E5%8D%95%E5%9C%B0%E9%A3%9E/" title="孤单地飞 作品大全">孤单地飞</a></span><a href="/466/" title="神道丹尊">神道丹尊</a></li>
                                                <li><i>15</i><span><a href="/author/%E7%A6%B9%E6%9E%AB/" title="禹枫 作品大全">禹枫</a></span><a href="/210/" title="武神天下">武神天下</a></li>
                                            </ul>
                </div>
            </div>
            <div class="card mt20">
                <div class="header">
                    <h3>本周热门</h3>
                </div>
                <div class="body">
                    <ul class="rightlist">
                                                                        <li><i class="first">1</i><span><a href="/author/%E8%BE%B0%E4%B8%9C/" title="辰东 作品大全">辰东</a></span><a href="/1361/" title="圣墟">圣墟</a></li>
                                                <li><i class="first">2</i><span><a href="/author/%E8%8E%AB%E9%BB%98/" title="莫默 作品大全">莫默</a></span><a href="/94/" title="武炼巅峰">武炼巅峰</a></li>
                                                <li><i class="first">3</i><span><a href="/author/%E9%80%86%E8%8B%8D%E5%A4%A9/" title="逆苍天 作品大全">逆苍天</a></span><a href="/29/" title="杀神">杀神</a></li>
                                                <li><i>4</i><span><a href="/author/%E8%BE%B0%E4%B8%9C/" title="辰东 作品大全">辰东</a></span><a href="/148/" title="完美世界">完美世界</a></li>
                                                <li><i>5</i><span><a href="/author/%E8%BE%B0%E4%B8%9C/" title="辰东 作品大全">辰东</a></span><a href="/12/" title="遮天">遮天</a></li>
                                                <li><i>6</i><span><a href="/author/%E9%B1%BC%E4%BA%BA%E4%BA%8C%E4%BB%A3/" title="鱼人二代 作品大全">鱼人二代</a></span><a href="/38/" title="校花的贴身高手">校花的贴身高手</a></li>
                                                <li><i>7</i><span><a href="/author/%E9%A3%8E%E5%87%8C%E5%A4%A9%E4%B8%8B/" title="风凌天下 作品大全">风凌天下</a></span><a href="/26/" title="傲世九重天">傲世九重天</a></li>
                                                <li><i>8</i><span><a href="/author/%E6%88%91%E5%90%83%E8%A5%BF%E7%BA%A2%E6%9F%BF/" title="我吃西红柿 作品大全">我吃西红柿</a></span><a href="/96/" title="莽荒纪">莽荒纪</a></li>
                                                <li><i>9</i><span><a href="/author/%E8%8A%B1%E9%83%BD%E5%A4%A7%E5%B0%91/" title="花都大少 作品大全">花都大少</a></span><a href="/408/" title="极品全能学生">极品全能学生</a></li>
                                                <li><i>10</i><span><a href="/author/%E5%94%90%E5%AE%B6%E4%B8%89%E5%B0%91/" title="唐家三少 作品大全">唐家三少</a></span><a href="/88/" title="绝世唐门">绝世唐门</a></li>
                                                <li><i>11</i><span><a href="/author/%E8%9B%87%E5%8F%91%E4%BC%98%E9%9B%85/" title="蛇发优雅 作品大全">蛇发优雅</a></span><a href="/2864/" title="神医弃女：邪王霸爱小狂妃">神医弃女：邪王霸爱小狂妃</a></li>
                                                <li><i>12</i><span><a href="/author/%E5%A4%A9%E8%9A%95%E5%9C%9F%E8%B1%86/" title="天蚕土豆 作品大全">天蚕土豆</a></span><a href="/14/" title="武动乾坤">武动乾坤</a></li>
                                                <li><i>13</i><span><a href="/author/%E9%BB%84%E9%87%91%E6%88%98%E5%A3%AB/" title="黄金战士 作品大全">黄金战士</a></span><a href="/42/" title="重生之妖孽人生">重生之妖孽人生</a></li>
                                                <li><i>14</i><span><a href="/author/%E5%AD%A4%E5%8D%95%E5%9C%B0%E9%A3%9E/" title="孤单地飞 作品大全">孤单地飞</a></span><a href="/466/" title="神道丹尊">神道丹尊</a></li>
                                                <li><i>15</i><span><a href="/author/%E7%A6%B9%E6%9E%AB/" title="禹枫 作品大全">禹枫</a></span><a href="/210/" title="武神天下">武神天下</a></li>
                                            </ul>
                </div>
            </div>
            <div class="card mt20">
                <div class="header line">
                    <h3>最新入库</h3>
                </div>
                <div class="body">
                    <ul class="rightlist">
                                                                        <li><i class="first">1</i><span>11-01</span><a href="/29561/" title="重生之幸福日常">重生之幸福日常</a></li>
                                                <li><i class="first">2</i><span>11-01</span><a href="/29560/" title="二姑娘">二姑娘</a></li>
                                                <li><i class="first">3</i><span>11-01</span><a href="/29559/" title="都市至尊龙皇">都市至尊龙皇</a></li>
                                                <li><i>4</i><span>11-01</span><a href="/29558/" title="毒妃太猛，王爷难招架">毒妃太猛，王爷难招架</a></li>
                                                <li><i>5</i><span>11-01</span><a href="/29557/" title="跨过千年来爱你">跨过千年来爱你</a></li>
                                                <li><i>6</i><span>11-01</span><a href="/29556/" title="双视人生">双视人生</a></li>
                                                <li><i>7</i><span>11-01</span><a href="/29555/" title="无限之疯狂游乐园">无限之疯狂游乐园</a></li>
                                                <li><i>8</i><span>11-01</span><a href="/29554/" title="最强农家媳">最强农家媳</a></li>
                                                <li><i>9</i><span>11-01</span><a href="/29553/" title="穿越之农门恶妇">穿越之农门恶妇</a></li>
                                                <li><i>10</i><span>11-01</span><a href="/29552/" title="穿书之女配翻身记">穿书之女配翻身记</a></li>
                                                <li><i>11</i><span>11-01</span><a href="/29550/" title="穿越婚然天成">穿越婚然天成</a></li>
                                                <li><i>12</i><span>11-01</span><a href="/29551/" title="农门妇">农门妇</a></li>
                                                <li><i>13</i><span>11-01</span><a href="/29549/" title="我的作家先生">我的作家先生</a></li>
                                                <li><i>14</i><span>11-01</span><a href="/29548/" title="妾色">妾色</a></li>
                                                <li><i>15</i><span>11-01</span><a href="/29546/" title="宠婚撩人">宠婚撩人</a></li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}