<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css?a=1">
    <link rel="stylesheet" type="text/css" href="/static/user.css">
</head>
<body>
<div class="user-header clearfix">
    <div class="w-all">
        <div class="logo fl"><a href="https://www.zhetian.org" title="圣墟小说网"><img src="/template/defaultv1/public/image/logo.png" alt="圣墟小说网"></a></div>
        <span class="line fl"></span>
        <span class="site-name">注册圣墟小说网账号</span>
        <div class="fr">
            <span class="f2 tip">已有圣墟小说网账号？</span>
            <a class="btn btn-pt btn-small" href="/user/public/login.html">登录</a>
        </div>
    </div>
</div>
<div class="clear"></div>
<section class="w-all clearfix">
    <div class="user-position">
        <a href="/user/public/register.html" class="current">注册账户</a>
        <a href="/user/public/login.html">登录账户</a>
    </div>
    <div class="userform fl">
        <form action="/user/public/register.html" class="ajaxform " method="post">
            <div class="formText_wrap">
                <div class="formText_notice">帐号:</div>
                <div class="formText"><input type="text" class="text" name="username" placeholder="请输入帐号" autocomplete="off"></div>
            </div>
            <div class="formText_wrap">
                <div class="formText_notice">密码:</div>
                <div class="formText"><input type="password" name="password" class="text" placeholder="请输入昵称" autocomplete="off"></div>
            </div>
            <div class="formText_wrap">
                <div class="formText_notice">重复密码:</div>
                <div class="formText"><input type="password" name="password1" class="text" placeholder="请输入密码" autocomplete="off"></div>
            </div>
            <div class="formText_wrap">
                <button class="formBtn">确认注册</button>
            </div>
            <div class="formText_wrap">
                <div class="formText_notice">&nbsp;</div>
                <div class="formTextWord">
                    <a href="/user/public/login.html" title="">已有帐号，立即登录&gt;&gt;</a>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="usernotice fr">
        <div class="title">使用第三方账号注册</div>
        <div class="con">
            <a href="/user/public/thirdlogin.html?type=qq" class="btn btn-danger"><i class="pticon pticon-qq pticon-lg"></i> 使用腾讯QQ登录</a>
            <a href="/user/public/thirdlogin.html?type=weibo" class="btn btn-warning"><i class="pticon pticon-weibo pticon-lg"></i> 使用微博账号登录</a>
            <a href="javascript:alert('尚未开通微信登录')" class="btn btn-success"><i class="pticon pticon-weixin pticon-lg"></i> 使用微信账号登录</a>
        </div>
    </div>
    <!--<div class="card mt20 usernotice fr">-->
        <!--<div class="header line">-->
            <!--<h3>登录账号有什么好处？</h3>-->
        <!--</div>-->
        <!--<div class="body">-->
            <!--<p>1、云端书架，多设备阅读进度完全统一-->
            <!--<p>2、定制阅读习惯，选择喜欢的阅读方式和站点-->
            <!--<p>3、赚取积分，积分可用来兑换奖品-->
            <!--<p>4、发布评论，与万千书友一起交流-->
        <!--</div>-->
    <!--</div>-->
</section>
<footer>
    <div class="copyright w-all tac">
                        <a href="/page/index/detail.html?id=1&amp;key=about" title="关于我们">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/page/index/detail.html?id=3&amp;key=disdaimer" title="免责声明">免责声明</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/page/index/detail.html?id=6&amp;key=privacy" title="隐私条款">隐私条款</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/page/index/detail.html?id=4&amp;key=spider" title="蜘蛛协议">蜘蛛协议</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/page/index/detail.html?id=7&amp;key=employ" title="申请收录">申请收录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/page/index/detail.html?id=5&amp;key=contact" title="联系我们">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/sitemap/index.xml" title="sitemap" target="_blank">Sitemap</a>
        <br>
        Copyright © 2009-2018 <a href="https://www.zhetian.org" target="_blank" title="圣墟小说网">圣墟小说网</a> All Rights Reserved .版权所有圣墟小说网，沪ICP备16005125号-3。<br>
        本站内容系圣墟小说网根据您的指令搜索各大小说站得到的链接列表，不代表圣墟小说网赞成被搜索网站的内容或立场<br>
        如果版权人认为在本站放置您的作品有损您的利益，请发邮件至qtshucom#163.com，本站确认后将会立即删除。<br>
        <br>
    </div>
</footer>
<div class="gotop"><i class="pticon pticon-chevron-up"></i></div>
<script type="text/javascript">var g_imgurl="https://pic.dzz8.com";var g_resurl="https://js.dzz8.com";</script>
<script type="text/javascript" src="https://js.dzz8.com/public/ptcms/s_c8307a5b8d392c73baddecca38d4bd4e.js?g=pcjs"></script>
<div>
<script type="text/javascript">showads("footerscript");showads("footertongji");</script>
</div>

<div id="chrome_websiteIP" class="chrome_websiteIP_right">58.222.53.35</div></body>
</html>