{% extends 'm/m.html' %}
{% block content %}
<div class="ptm-card" style="margin-top:15px;">
    <div class="ptm-card-header">
        <div class="ptm-pull-left">
            {{title}}
        </div>
        <div class="ptm-pull-right">
            第{{page}}页
        </div>
    </div>
    <div class="ptm-card-content">
        <ul class="pt-card pt-card-2">
            {% for book in data %}
            <li>
                <div class="pt-cover">
                    <a href="/m/book/{{book.pinyin}}.html" title="{{book.name}}"><img src="/static/{{book.img}}" alt="{{book.name}}"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/m/book/{{book.pinyin}}.html" title="{{book.name}}">{{book.name}}</a></div>
                    <div class="pt-info"><a href="/m/author/{{book.author.pinyin}}.html" title="{{book.author.name}}">{{book.author.name}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/m/category/{{book.category.pinyin}}.html" title="{{book.category.name}}">{{book.category.name}}</a></div>
                    <div class="pt-desc ptm-text-cut2">{{book.desc}}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="ptm-card-footer " style="padding:0 10px;height:50px;">
        <div class="pt-dir-page ptm-clearfix">
            <div class="ptm-col-xs-3">
                <a class="ptm-btn ptm-btn-primary ptm-btn-block ptm-btn-outlined" href="/m{{prefix}}-{% ifequal page 1 %}1{% else %}{{page|add:-1}}{% endifequal %}.html">上一页</a>
            </div>
            <div class="ptm-col-xs-6" style="padding:0 10px;">
                <button class="ptm-btn ptm-btn-primary ptm-btn-block ptm-btn-outlined showdir"><span>第{{page}}页 </span><i
                        class="fa fa-angle-down pt-dir-icon"></i></button>
            </div>
            <div class="ptm-col-xs-3">
                <a class="ptm-btn ptm-btn-primary ptm-btn-block ptm-btn-outlined" href="/m{{prefix}}-{% ifequal page total_page %}{{total_page}}{% else %}{{page|add:1}}{% endifequal %}.html">下一页</a>
            </div>
        </div>
    </div>
</div>
</section>

<div class="sel ptm-hide">
    <div class="ptm-alert-shade"></div>
    <div class="pt-dir-sel" style="background-position: left 50px;">
        <p class="title">请选择页码</p>
        <ul>
            {% for i in pages %}
            <li {% ifequal i page %}class="active"{% endifequal %}><a href="/m{{prefix}}-{{i}}.html">第{{i}}页</a></li>
            {% endfor %}
            {% ifnotequal page total_page%}
            <li><a href="/m{{prefix}}-{{total_page}}.html">第{{total_page}}页</a></li>
            {% endifnotequal %}
        </ul>
    </div>
</div>
{% endblock %}