{% extends 'm/m.html' %}
{% block content %}
<div class="ptm-card" style="margin-top:15px;">
    <div class="ptm-card-header">
        <div class="ptm-pull-left">
            全本小说
        </div>
        <div class="ptm-pull-right">
            第1页
        </div>
    </div>
    <div class="ptm-card-content">
        <ul class="pt-card pt-card-2">
            <li>
                <div class="pt-cover">
                    <a href="/2353/" title="我当道士那些年"><img
                            src="https://pic.dzz8.com/public/cover/97/da/86/97da86368ea9c9764ad405dbb1db1916.jpg"
                            alt="我当道士那些年"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/2353/" title="我当道士那些年">我当道士那些年</a></div>
                    <div class="pt-info"><a href="/author/%E4%BB%90%E4%B8%89/" title="仐三">仐三</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/lishi.html" title="历史">历史</a></div>
                    <div class="pt-desc ptm-text-cut2">自一出生，我就被“百鬼缠身”，冥冥中注定我要做道士。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/24300/" title="官妖"><img
                            src="https://pic.dzz8.com/public/cover/ed/04/65/ed0465c2874bee1c176031e66a5a1195.jpg"
                            alt="官妖"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/24300/" title="官妖">官妖</a></div>
                    <div class="pt-info"><a href="/author/%E4%B8%81%E5%85%AC%E5%AD%90/" title="丁公子">丁公子</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">
                        官妖者，多智近乎妖。官员之间的争斗较量的是智商、谋略、手腕、胆识和魄力，甚至是脸皮厚度。但这一切的基础是建立在对形势、人心和人性的把握和理解之上的。真正的高手，懂得利用一切对自己有利的因素，因势利导，决胜千里。
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/1690/" title="轮回武典"><img
                            src="https://pic.dzz8.com/public/cover/e2/eb/6f/e2eb6fefc6a6433797d143f23d7cc990.jpg"
                            alt="轮回武典"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/1690/" title="轮回武典">轮回武典</a></div>
                    <div class="pt-info"><a href="/author/%E7%8B%BC%E5%BD%B1%E5%89%91/" title="狼影剑">狼影剑</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;九境成神，却无人成神，是本身的缺陷，还是一个阴谋？萧战穿越仙路而来，本应重生战族的他却重生在萧家，过往的一切重来，这一世不再有轮回，波澜壮阔的神战在等着他，他是否能够登上属于自己的神位。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/6082/" title="绝顶唐门"><img
                            src="https://pic.dzz8.com/public/cover/6a/a4/0d/6aa40dd4da35f94235799d4733fedcf1.jpg"
                            alt="绝顶唐门"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/6082/" title="绝顶唐门">绝顶唐门</a></div>
                    <div class="pt-info"><a href="/author/%E6%9E%9C%E5%91%B3%E5%96%B5/" title="果味喵">果味喵</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/youxi.html" title="游戏">游戏</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;他是网游界公认的唐门第一高手，例无虚发的暗器，飘忽诡异的走位，让人闻风丧胆。他是《剑战》天梯竞技榜雄踞榜首的PK狂人，至今，保持百分百的全胜纪录。他是九尾狐战队的队长，带队横扫从校园赛到西雅图的各种冠军。他，是“天罗金羽”神级账号的主人！当竞技的舞台上光华不再，退场的音乐也不再响起，走下神坛，那又如何？不过是重新开始，而已！&nbsp;&nbsp;本书书友群：235938215，顺便求点求收求票求组队求卖萌求新书期需要的一切……</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/22347/" title="道门法则"><img
                            src="https://pic.dzz8.com/public/cover/08/89/f2/0889f2498750862323981d22ec938aff.jpg"
                            alt="道门法则"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/22347/" title="道门法则">道门法则</a></div>
                    <div class="pt-info"><a href="/author/%E5%85%AB%E5%AE%9D%E9%A5%AD/" title="八宝饭">八宝饭</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xianxia.html" title="仙侠">仙侠</a></div>
                    <div class="pt-desc ptm-text-cut2">三十六天无极，三千世界鸿蒙！
                        大明，我来了！
                        道门，我来了！
                        符诏，我来了！
                        在统制世俗的道门中一步步迈向权力的高峰，向着飞升天界的目标而去！
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/2477/" title="帝临鸿蒙"><img
                            src="https://pic.dzz8.com/public/cover/b1/ef/9e/b1ef9e668f9682afc9da612455e2d4b0.jpg"
                            alt="帝临鸿蒙"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/2477/" title="帝临鸿蒙">帝临鸿蒙</a></div>
                    <div class="pt-info"><a href="/author/%E4%B8%BA%E5%B0%B9%E6%9F%93%E5%A2%A8%E7%BA%A2%E5%B0%98/"
                                            title="为尹染墨红尘">为尹染墨红尘</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">
                        三千世界，浩瀚无垠，隐含无尽神秘；九重天外，诸朝并立，雄踞一方天宇；万千雄主，谁为真皇？诸天万朝，谁人又可一统三千大世界，万古独尊？羽皇，一个被预为天命之皇者的神秘少年，怀着满腔的仇恨，走上了一条争霸诸天的皇道天途。皇途飘渺，帝道遥遥，且看羽皇如何在万千雄主之中，杀出一条永恒帝路，屹立诸天之巅，帝凌三千……
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/20455/" title="注视深渊"><img
                            src="https://pic.dzz8.com/public/cover/eb/e4/a6/ebe4a6061fbd9f1ad08ceb52597aff4c.jpg"
                            alt="注视深渊"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/20455/" title="注视深渊">注视深渊</a></div>
                    <div class="pt-info"><a href="/author/%E5%90%BE%E5%8D%B3%E6%AD%A3%E9%81%93/" title="吾即正道">吾即正道</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">
                        游魂彷徨，蠕虫四散。不可见之物身边环绕，耳畔窃窃私语从何而来。可憎之物在深渊中等待。死寂无风，吹不动衣角发梢。牧苏注视着深渊，深渊也在注视着他。直到开始牧苏脱下裤子——深渊才不得不尴尬地移开视线。
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/27504/" title="神游"><img
                            src="https://pic.dzz8.com/public/cover/47/7c/24/477c24cce64fdcfb5032e90c7a512795.jpg"
                            alt="神游"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/27504/" title="神游">神游</a></div>
                    <div class="pt-info"><a href="/author/%E5%BE%90%E5%85%AC%E5%AD%90%E8%83%9C%E6%B2%BB/" title="徐公子胜治">徐公子胜治</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/wuxia.html" title="武侠">武侠</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我有书半卷，逍遥曰化形。
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;挥请仙佛退，送与鬼神听。
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;副墨闻于讴，参寥传玄冥。
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一指掩天地，齐物自忘情。
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面对文学与传说中的玄幻纷呈时，你是否也梦想拥有这份神奇的精彩人生？其实不必去遐想仙界与异星，玄妙的世界就在你我的身边，身心境界可以延伸到的极致之处。
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这世上真有异人吗？真有神迹吗？——梦境可以化实！妄想可以归真！
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一位市井中懵懂少年是如何成为世间仙侠，又如何遭遇红尘情痴？请舒展心灵的触角来《神游》。
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——阅读提示：本书主角是风君子！——
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢诸位订阅与投票，也欢迎大家支持我的另两部作品《鬼股》（书号66947）、《人欲》（书号145374）。
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;论坛网址：/sybbs
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VIP读者QQ群：君子居（35194699，45157017）——
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/24281/" title="画魂"><img src="https://pic.dzz8.com/public/image/nocover.jpg" alt="画魂"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/24281/" title="画魂">画魂</a></div>
                    <div class="pt-info"><a href="/author/%E7%A9%86%E9%A3%9E%E8%8A%B1/" title="穆飞花">穆飞花</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">黄泉路，彼岸花，叶生无花，花开无叶，花叶永不见。
                        他是俊美如妖的修罗之王，法力通天；
                        她是惊才绝艳的洛河神女，可窥天机。
                        十世轮回，她甘之如饴，只为他安好；
                        千年等候，他独守忘川，只为她回眸。
                        千年前，他追至奈何桥头，“宓翎，告诉本王，这究竟是为什么？”
                        她没有回头，“苍妄，从今以后，你我恩断义绝！十世之后，谁也不欠谁的。”
                        各位书友要是觉得《画魂》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！画魂最新章节,画魂无弹窗,画魂全文阅读.
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29720/" title="家有冥妻"><img src="https://pic.dzz8.com/public/image/nocover.jpg" alt="家有冥妻"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29720/" title="家有冥妻">家有冥妻</a></div>
                    <div class="pt-info"><a href="/author/%E6%9F%B3%E4%B8%8B%E5%83%A7/" title="柳下僧">柳下僧</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/kehuan.html" title="科幻">科幻</a></div>
                    <div class="pt-desc ptm-text-cut2">我是行人，专门为别人配冥婚，可是阴差阳错把女鬼娶到我家里来了，开始她千般虐我，后来百依百顺，有时候，女鬼比女人更温柔。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29666/" title="丑女皇后"><img
                            src="https://pic.dzz8.com/public/cover/49/42/28/4942289b081b7f59a7ee3a3955f3c96f.jpg"
                            alt="丑女皇后"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29666/" title="丑女皇后">丑女皇后</a></div>
                    <div class="pt-info"><a href="/author/%E6%A8%8A%E6%9C%94/" title="樊朔">樊朔</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;她，其貌不扬,左脸上有块丑陋的伤疤，从来就没有人关注过的姬家二小姐，没有花容月貌，没有宠爱在身。一代贤德皇后忽然无故薨逝，身为其妹的她奉旨入宫，续皇后之位。甫一进宫，她却被幽禁在宫殿，禁足三年。不断的暗害、冷落、明争暗斗，她一笑而过。而不期而遇的侍卫，居然是皇帝；还有暗夜里的箫声，那双绿色的眼睛。"</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29627/" title="蛇蝎不好惹：弃后也妖娆"><img
                            src="https://pic.dzz8.com/public/cover/b6/2d/00/b62d00d5992f09990c1a0206457fde58.jpg"
                            alt="蛇蝎不好惹：弃后也妖娆"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29627/" title="蛇蝎不好惹：弃后也妖娆">蛇蝎不好惹：弃后也妖娆</a></div>
                    <div class="pt-info"><a href="/author/%E6%99%93%E4%BA%91/" title="晓云">晓云</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;入冷宫，失爱女，废后位。她是他的皇后，却是他最欲除去的人。冷心废后，复仇暴君，他是她的夙怨，她是他的屈辱！破茧重生，弃情绝爱，她载恨华丽归来。几番对决，她笑言，只差一步，可惜，你爱上了我！多番较量，他怒称，修罗地狱，也要你相伴左右！"</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29561/" title="重生之幸福日常"><img
                            src="https://pic.dzz8.com/public/cover/5a/aa/79/5aaa796b9705cd2ee31ed0c441964593.jpg"
                            alt="重生之幸福日常"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29561/" title="重生之幸福日常">重生之幸福日常</a></div>
                    <div class="pt-info"><a href="/author/%E9%9B%AA%E5%87%A4%E5%87%B0/" title="雪凤凰">雪凤凰</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;这世上有这样一种人，明明有实力也有运气，却总是离幸福一步之差，而林小乖幸运又不幸地属于其中之一。——出生在六十年代，作为家里备受宠爱的老来女，林小乖长得好又聪明，却偏偏有四个平庸软弱的哥哥，以及四个厉害的嫂子；原本家庭成分不好前路灰暗，却在恰当的年纪遇上高考恢复，一举考上大学；疼她的爹人逢喜事精神爽，一觉睡下再没有醒来，林小乖悲痛欲绝下病倒，兄嫂却见钱眼开把高烧昏迷的她嫁了出去；幸得遇上个不差的男人，家里却是一窝不省心的，浑浑噩噩中失了做母亲的能力。心灰意冷下离了婚，远走他乡。一个人在城里闯荡出一番新天地，有钱有闲，过得也算自在逍遥，临老却突然得了个晚出现了几十年的金手指，亏得心宽才没给郁闷死。祸从天降，原以为要一命呜呼，睁开眼却回到了最初。林小乖想着，这要再把日子过差了，她得蠢成啥样啊。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29557/" title="跨过千年来爱你"><img src="https://pic.dzz8.com/public/image/nocover.jpg"
                                                           alt="跨过千年来爱你"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29557/" title="跨过千年来爱你">跨过千年来爱你</a></div>
                    <div class="pt-info"><a href="/author/%E7%A7%8B%E5%A4%9C%E9%9B%A8%E5%AF%92/" title="秋夜雨寒">秋夜雨寒</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/tongren.html" title="同人">同人</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;白敏,一个现代女子,无意中回到了千年之前的大兴王朝。以慕容枫的身份嫁给了当朝的四太子司马锐,一个顽劣不堪的男子,相识.相知.相恋。冥冥中注定的天意可否让真爱不悔,能否不枉这千年而来的约定……"/&gt;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;linkrel="stylesheet"type="text/css"href="/new/css/
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/2532/" title="庶女当嫁,一等世子妃"><img
                            src="https://pic.dzz8.com/public/cover/0c/78/b1/0c78b161e5cdaeb395b6471162cc9fee.jpg"
                            alt="庶女当嫁,一等世子妃"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/2532/" title="庶女当嫁,一等世子妃">庶女当嫁,一等世子妃</a></div>
                    <div class="pt-info"><a href="/author/%E8%A5%BF%E9%A3%8E%E5%89%AA%E5%89%AA/" title="西风剪剪">西风剪剪</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/qita.html" title="其他">其他</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;身为穿越女，她绝不与她人共侍一夫！他,是静王世子，惊采绝艳，却又不足之症，孱弱多病。世子选妃，因缘际会，她的画像被送到他面前，多番考虑，她书信一封，辗转传达他手中。他修长洁白的手展开书信，上边只有寥寥数句，却道尽她的要求。“不收通房，不纳小妾，不抬平妻，君能应否”第二日，赐婚诏书下达，她微微一笑，跪于堂前接旨，她知道，他应了…</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29550/" title="穿越婚然天成"><img
                            src="https://pic.dzz8.com/public/cover/dc/a3/21/dca321379cdc241909a9f164a602ce3b.jpg"
                            alt="穿越婚然天成"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29550/" title="穿越婚然天成">穿越婚然天成</a></div>
                    <div class="pt-info"><a href="/author/%E5%B8%AD%E7%A5%AF/" title="席祯">席祯</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;穿错越的软妹纸，决定发家致富、做个学霸，谁料愿望刚启程，就被外表冷硬、内里腹黑的军佬拐回家做了媳妇。关键字：穿越、系统、军婚、秀恩爱……</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29547/" title="重生之媚宠"><img
                            src="https://pic.dzz8.com/public/cover/e5/85/bd/e585bdf2ab91bbd4362f54d28b22d8bd.jpg"
                            alt="重生之媚宠"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29547/" title="重生之媚宠">重生之媚宠</a></div>
                    <div class="pt-info"><a href="/author/%E8%87%BB%E5%96%84/" title="臻善">臻善</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;重生父母新丧时，顾眉景十四岁，敏感、自卑、怯懦、交际无能。好在重生带着金手指，让她可以慢慢改变自己。——手上长了株开着五色小花，满满都是正能量的“药草”。可排毒养颜、美容瘦身、改善体质、根治内外伤、提高记忆力……只是，说好的满满都是正能量呢？为毛里边有朵花变异成黑色了！说好的越长越美呢？怎么越长越媚了！</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29544/" title="隔壁那个不要脸的"><img
                            src="https://pic.dzz8.com/public/cover/3a/e3/80/3ae3802da82d560c10e33e01b1b03b35.jpg"
                            alt="隔壁那个不要脸的"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29544/" title="隔壁那个不要脸的">隔壁那个不要脸的</a></div>
                    <div class="pt-info"><a href="/author/%E6%83%85%E4%B9%A6/" title="情书">情书</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;路过的妹纸们请点击进入专栏收藏，么么哒~
                        &nbsp;&nbsp;&nbsp;&nbsp;这是重生为中学生的伪少女校园生活
                        &nbsp;&nbsp;&nbsp;&nbsp;二中新生里的校草级人物姚一哲又一次出了大大的风头，听着闺蜜滔滔不绝地捧着脸颊犯花痴，唐琳表示：“长得也就那样吧，比隔壁班徐杰宁还差了那么点儿。”
                        &nbsp;&nbsp;&nbsp;&nbsp;重活一次的老阿姨唐琳，现在可不care这种小鲜肉款的！
                        &nbsp;&nbsp;&nbsp;&nbsp;“是吗？”姚一哲笑眯眯的，顿时就让唐琳有一种不祥的预感：“昨晚你在我家可不是这样说的。”
                        &nbsp;&nbsp;&nbsp;&nbsp;下一秒，全班都沸腾了！
                        &nbsp;&nbsp;&nbsp;&nbsp;本文开启购买比例50%，防盗时间48小时
                        &nbsp;&nbsp;&nbsp;&nbsp;最近过年期间，更新时间不能会不稳定，但还是尽量每天都有更新，年会会恢复
                        &nbsp;&nbsp;&nbsp;&nbsp;_____________________________________________
                        &nbsp;&nbsp;&nbsp;&nbsp;已完结的文，点击进入→
                        &nbsp;&nbsp;&nbsp;&nbsp;已完结的文，点击进入→
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/2007/" title="折锦春"><img
                            src="https://pic.dzz8.com/public/cover/cf/03/60/cf03600ae651ddaf442f269ece164f6f.jpg"
                            alt="折锦春"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/2007/" title="折锦春">折锦春</a></div>
                    <div class="pt-info"><a href="/author/%E5%A7%9A%E9%9C%81%E7%8F%8A/" title="姚霁珊">姚霁珊</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;秦同春首，春不顾秦。
                        &nbsp;&nbsp;&nbsp;&nbsp;前世的秦家满门抄斩，秦素遍身污垢、忍辱半生，她一直以为，那是命。
                        &nbsp;&nbsp;&nbsp;&nbsp;重生后她才明白，那不是命，而是局。
                        &nbsp;&nbsp;&nbsp;&nbsp;破局求生，折春成锦，她，真的能做到么？
                        &nbsp;&nbsp;&nbsp;&nbsp;一句话简介：这是一个关于救赎的故事。
                        &nbsp;&nbsp;&nbsp;&nbsp;特别提醒：前方女主略高能，心肠略狠毒，杀人略不眨眼，请自带避雷针。本文架空，时代背景借鉴三国至两晋，考据党请慎入。
                        &nbsp;&nbsp;&nbsp;&nbsp;已著完结文《庶庶得正》，心急的书友可以先移步过去看。
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29541/" title="农女锦绣"><img
                            src="https://pic.dzz8.com/public/cover/98/0a/dd/980add788037f92df9c1b68c53a25db5.jpg"
                            alt="农女锦绣"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29541/" title="农女锦绣">农女锦绣</a></div>
                    <div class="pt-info"><a href="/author/%E5%AF%82%E5%AF%9E%E7%9A%84%E6%B8%85%E6%B3%89/" title="寂寞的清泉">寂寞的清泉</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;穿成农家小萝莉，爹死娘痴。对面一家病弱，钱亦绣表示淡定。脑瓜灵好运来，钱程锦绣有何愁，直到死鬼爹出现……钱亦绣不淡定了，我娘是糟糠，我娘要下堂！无奈呆萌娘亲不配合，哭着喊着跟爹去。才为爹娘操碎了心，她自个儿的桃花也纷纷盛开了——别跟着我，哎呀，说你呐，还有你，快别跟着我，姐烦着呢。………………………………（本文延续作者的一贯风格，欢快、温馨，欢迎亲们跳坑）清泉的书友群：二五九一九八一四五，亲们有兴趣的可以进来聊一聊。。。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29539/" title="末世重生之女配的进击"><img
                            src="https://pic.dzz8.com/public/cover/ea/fb/a7/eafba7cd47f2d11d0f5560e9a76f9d9d.jpg"
                            alt="末世重生之女配的进击"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29539/" title="末世重生之女配的进击">末世重生之女配的进击</a></div>
                    <div class="pt-info"><a href="/author/%E7%B1%B3%E7%B3%96%E5%84%BF/" title="米糖儿">米糖儿</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;一世，突临末世和亲人失联的穆绾绾，绝色姿容带给她的不是幸运，而是无尽的痛苦和绝望。大学恋爱三年的男友宁季轩因为拥有异能，而日益嫌弃身为普通人的自己。在末世五年后，宁季轩凭着强大的冰系和治愈双异，能成为中华五大基地之一的首领。同时，也和穆绾绾的好友，拥有空间异能的李佩玥走到了一起，为了讨李佩玥的欢心，竟将她狠心地送给了研究所做实验。十多年后，穆绾绾不忍承受研究所日益严重的折磨，在极度的不甘和痛苦中，选择了和研究所同归于尽。一朝重生，穆绾绾带着临死前偷出的药液归来。靠着这些在末世二十年后才研制出的药液，她抛开前世的种种，带着自己的亲人在末世闷声发大财。终于走出了一条，和前世完全不同的道路。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29535/" title="清宫妾妃"><img
                            src="https://pic.dzz8.com/public/cover/33/06/e0/3306e04a31994df9e44413ca02ca4a3f.jpg"
                            alt="清宫妾妃"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29535/" title="清宫妾妃">清宫妾妃</a></div>
                    <div class="pt-info"><a href="/author/%E5%B0%A4%E5%A6%AE%E4%B8%9D/" title="尤妮丝">尤妮丝</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/tongren.html" title="同人">同人</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;不想当皇后的嫔妃不是好嫔妃，我们的目标是——调~教乾渣龙！！尤妮丝的新书开坑了！瓜尔佳昭嫆一点都不想给自己的表姐夫当小妾，可无奈表姐夫他奶奶相中了她。哦，她表姐夫叫玄烨，年号康熙；她表姐夫的奶奶叫布木布泰，谥号孝庄……o(╯□╰)o作者君节操有保障，请安心跳坑！</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/28604/" title="穿越之修仙"><img
                            src="https://pic.dzz8.com/public/cover/04/18/5c/04185c0d3356d06fc286f691afb06840.jpg"
                            alt="穿越之修仙"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/28604/" title="穿越之修仙">穿越之修仙</a></div>
                    <div class="pt-info"><a href="/author/%E8%A1%A3%E8%90%BD%E6%88%90%E7%81%AB/" title="衣落成火">衣落成火</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;仙界之下，有九千大世界，上三千，中三千，下三千，无数小世界。徐子青前生病弱，今世原想于山水之间自在度日，不料十三岁那年，人生一朝变幻。身具灵根，便要踏上仙途，若不愿成为他人脚下之石，就只能逆流直上，重重破关。天尊之下皆蝼蚁，徐子青生如微尘，却愿坚守本真，以心向道，身化鲲鹏，扶摇直上，踏遍九天！目前我已经开v，不出意外的话还是每天上午11点更新。如果大家发现收藏夹有更新但是前台没显示的话，那么可以点击任一个v后章节的[vip]这个符号，就会出现购买页面，就能直接发现下一个未买章节了。希望大家看文愉快~ps：1，我终于决定写剧情流+升级流的大长篇了。一对一，无虐，慢热文。2，如果大家喜欢这篇文，请不要太冷漠，多少回应一下我，能打字的能多给我点评论就多给点吧~爱这个玩意儿，需要读者和作者的共同呵护。3，慢热文，所有玄而又玄的东西都是扯淡的，绝壁不科学，所以请不要用科学去解释它。除非前后矛盾，否则那也就是个设定而已。4，希望对文章有啥异议的童鞋可以平和讨论，不要炸毛。5，祝大家看文愉快~给阿莲做一个推文链接，是兄弟文哟，阿莲向来也温馨无虐的，如果大家有兴趣的话就瞅瞅吧~完结文1号，剑鬼蛊师，双穿双子，冷酷攻和据说是恶毒受或者妖孽受的受。完结文2号，野兽的魔法师，讲的是修真者穿越到异世界的故事，有兴趣就去看看吧~完结文3号，兽人之憨攻的春天，很认真有点严肃的受穿越兽人世界遇见一头黄金狮子的故事。完结文4号，机甲触手时空，闷骚大哥和爱好攒钱投喂大哥的弟弟……的故事。兄弟年上。完结文5号，变形空间，这是一个外表孤僻内心温柔的受和外表温柔内心霸道的攻的恋爱故事。完结同人1号，重生莲亭追东方，杨莲亭重生挽回东方不败的故事。连载文，僵尸弟弟，兄弟年下，黏人的弟弟和孤僻的哥哥。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29517/" title="独宠圣心"><img
                            src="https://pic.dzz8.com/public/cover/ca/df/08/cadf0802921aeae8b8d2219db8846d15.jpg"
                            alt="独宠圣心"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29517/" title="独宠圣心">独宠圣心</a></div>
                    <div class="pt-info"><a href="/author/%E7%9B%9B%E4%B8%96%E6%B8%85%E6%AD%8C/" title="盛世清歌">盛世清歌</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;大佬们收藏作者啦~APP点击文案右上角作者专栏，wap点击文名下方的作者名：盛世清歌。会有加更的哦~
                        &nbsp;&nbsp;&nbsp;&nbsp;当年被秦家姑娘戴了绿帽子的男人登基了，
                        &nbsp;&nbsp;&nbsp;&nbsp;整个大烨朝都等着秦家倒霉。
                        &nbsp;&nbsp;&nbsp;&nbsp;后来，秦家又赔了一个姑娘给皇上。
                        &nbsp;&nbsp;&nbsp;&nbsp;传闻这姑娘生得玲珑心肝、乖巧可人，一举独得圣心。
                        &nbsp;&nbsp;&nbsp;&nbsp;再后来，后宫就没其他娘娘什么事儿了。
                        &nbsp;&nbsp;&nbsp;&nbsp;再再后来，皇上觉得自己赔得血本无归。
                        &nbsp;&nbsp;&nbsp;&nbsp;高太后与先皇存稿《娇宠圣意》，保证甜甜甜，先皇不早死，皇太后设定有变。
                        &nbsp;&nbsp;&nbsp;&nbsp;内含要要“被虐”成长史，可先收藏，这本完结后开~（点进作者专栏找，搜文名出不来）
                        &nbsp;&nbsp;&nbsp;&nbsp;1.本文又叫《狗皇帝打脸日常》。
                        &nbsp;&nbsp;&nbsp;&nbsp;2.浪得飞起微博：盛世清歌
                        &nbsp;&nbsp;&nbsp;&nbsp;3.本文有毒，自备解药，双处党不要进来啦，这本皇帝阅尽千帆。
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/4247/" title="农女倾城"><img
                            src="https://pic.dzz8.com/public/cover/35/4e/b8/354eb842f68957572b7a0b654cbb0e7a.jpg"
                            alt="农女倾城"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/4247/" title="农女倾城">农女倾城</a></div>
                    <div class="pt-info"><a href="/author/%E6%B8%90%E8%BF%9B%E6%B7%A1%E5%87%BA/" title="渐进淡出">渐进淡出</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;沈晓晓穿越了，穿去了一个叫什么闵泽国的旮旯朝代，更悲催在是由集三千宠爱于一身的世家大族豪门千金穿成了奶不疼爷不爱在赔钱货。但上天从来都是待她不薄的，不，应该说从来都是厚厚待她的，所以作为补偿赠给她一个随身空间。且看她在这落后在古代过得怎样的如鱼得水，风生水起。让整个闵泽皇朝的人都知道他们的王妃倾国倾城，这倾的不仅仅是容貌更是才艺。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29510/" title="师兄个-个太无良"><img
                            src="https://pic.dzz8.com/public/cover/e0/3b/1d/e03b1d3c697560f312057123ce333063.jpg"
                            alt="师兄个-个太无良"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29510/" title="师兄个-个太无良">师兄个-个太无良</a></div>
                    <div class="pt-info"><a href="/author/%E6%B9%98%E6%B3%A2%E7%BB%BF/" title="湘波绿">湘波绿</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;现代修真世家蓝家的修炼天才，家主指定的蓝家下任继承人——蓝乔月，意外穿越到楚国镇南王府，成为被指婚给三皇子的王府嫡女秦落衣。
                        &nbsp;&nbsp;&nbsp;&nbsp;前世，她是修炼天才。
                        &nbsp;&nbsp;&nbsp;&nbsp;今生，她是修炼废材，体内还有奇怪的封印。
                        &nbsp;&nbsp;&nbsp;&nbsp;蛇蝎姐姐窥视她的未婚夫，用天下淫毒坏她名节。
                        &nbsp;&nbsp;&nbsp;&nbsp;她惊才绝艳的冷笑，雕虫小技！你找一个男人来，我便找十个男人奉还…害人之后还想嫁如意郎君？门都没有！
                        &nbsp;&nbsp;&nbsp;&nbsp;什么？春药半个时辰不解就没命？
                        &nbsp;&nbsp;&nbsp;&nbsp;那简单，找个男人解了就是，只是…为什么她随便找的男人，竟然是楚国一人之下，万人之上的太子？
                        &nbsp;&nbsp;&nbsp;&nbsp;未婚夫闻言她失贞，黑着脸拦住她质问：“告诉我那奸夫是谁，皇子府中，我赏你一个妾位…”施舍般的不屑语气。
                        &nbsp;&nbsp;&nbsp;&nbsp;她咬着唇满脸为难，伸出五根纤指一根根的往下按：“一，二，三…你究竟让我告诉你哪一个？”
                        &nbsp;&nbsp;&nbsp;&nbsp;噗，未婚夫抽搐着吐血倒地！
                        &nbsp;&nbsp;&nbsp;&nbsp;绝美的脸上绽开无声的笑意…妾位也好，正位也罢，她都不稀罕，她还要寻求无上仙道，还要解开体内那奇怪的封印，没功夫嫁人！
                        &nbsp;&nbsp;&nbsp;&nbsp;闻说圣龙大陆海中有蓬莱仙岛，岛上有法力高强的仙人，秦落衣狂喜无比，包袱款款，从此踏上了她激情四射的修仙之路…
                        &nbsp;&nbsp;&nbsp;&nbsp;第一仙门飘渺宗不收经脉堵塞的弟子？
                        &nbsp;&nbsp;&nbsp;&nbsp;没关系，她有数不尽的高阶灵丹，可以当糖豆吃。
                        &nbsp;&nbsp;&nbsp;&nbsp;某女腰缠银票，手握金条，笑嘻嘻的拿出一瓶又一瓶灵丹摆在掌门面前。
                        &nbsp;&nbsp;&nbsp;&nbsp;掌门目瞪口呆：咳，你究竟有多少？
                        &nbsp;&nbsp;&nbsp;&nbsp;某女笑颜如花再度轻松拿出数瓶。
                        &nbsp;&nbsp;&nbsp;&nbsp;掌门愣然之后，喜笑颜开：我已百年不曾收徒，今日和你投缘，收为关门弟子！
                        &nbsp;&nbsp;&nbsp;&nbsp;蓬莱仙岛地杰人灵，专出俊男美女。什么？被她一针弄得不举的人是她二师兄？
                        &nbsp;&nbsp;&nbsp;&nbsp;没事，咱当年不认识，现在是师兄妹了，师兄妹要互相友爱，一针就能让师兄再度雄风大振。
                        &nbsp;&nbsp;&nbsp;&nbsp;都说大师兄玉树临风，风流潇洒，和天仙般的五师姐是天造地设一对，可是为什么他不搭理五师姐，却偏偏和她讨论双修之道？
                        &nbsp;&nbsp;&nbsp;&nbsp;……
                        &nbsp;&nbsp;&nbsp;&nbsp;此文女强文，宠文，集修炼，各种异能，美男诱惑，身世之迷，女主纵横称霸天下于一体，呵呵，简介无能，内容绝对精彩……
                        &nbsp;&nbsp;&nbsp;&nbsp;＃＃＃＃＃＃＃＃＃＃＃＃
                        &nbsp;&nbsp;&nbsp;&nbsp;推荐已经完结的旧文：
                        &nbsp;&nbsp;&nbsp;&nbsp;《紫恒逍遥仙》：／／／info／
                        &nbsp;&nbsp;&nbsp;&nbsp;此文成长型女强文，宠文，文中美男多多，无限yy
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/2808/" title="妖师鲲鹏传"><img
                            src="https://pic.dzz8.com/public/cover/08/c1/69/08c1692e9c43ac52f60883696bc5dbc2.jpg"
                            alt="妖师鲲鹏传"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/2808/" title="妖师鲲鹏传">妖师鲲鹏传</a></div>
                    <div class="pt-info"><a href="/author/%E4%BD%9B%E8%A1%80/" title="佛血">佛血</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">
                        一个现代人穿越时空来到了洪荒时期，不料他竟然成了大反派人物妖师鲲鹏，为了能够得道成圣，从而所进行的诸多算计，最终得道成圣的故事．
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29503/" title="至尊狂少"><img
                            src="https://pic.dzz8.com/public/cover/8c/10/6a/8c106a9e8cb8edb30aca6aaee0aa2da6.jpg"
                            alt="至尊狂少"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29503/" title="至尊狂少">至尊狂少</a></div>
                    <div class="pt-info"><a href="/author/%E6%9D%83%E6%8E%8C%E5%A4%A9%E4%B8%8B/" title="权掌天下">权掌天下</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;【编辑鉴定：保底六千！质量有保证！】他是浩然霸气的妖族帝王，他是权谋无双的魔门尊者，他是德高望着佛道领袖，他是强悍无匹的京城太子。他是迷倒万千少女的帅锅，陈煜阳用他那张狂而霸气的一生告诉你：作为一个男人，一定要人中之人，要醒掌天下权柄，醉卧美人膝边！一个双美人膝不够，就多来几双！</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/28662/" title="徒弟他就是不吃药"><img
                            src="https://pic.dzz8.com/public/cover/04/12/f6/0412f6cdecc5015191857af7ba7fc331.jpg"
                            alt="徒弟他就是不吃药"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/28662/" title="徒弟他就是不吃药">徒弟他就是不吃药</a></div>
                    <div class="pt-info"><a
                            href="/author/%E5%A4%A9%E6%A1%A5%E5%BA%95%E4%B8%8B%E8%AF%B4%E4%B9%A6%E7%9A%84/"
                            title="天桥底下说书的">天桥底下说书的</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/sort/nvsheng.html" title="女生">女生</a>
                    </div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;从前有一群剑修，他们很跳很嚣张，今天收拾邪道，明天就去正道搞事，四海无亲朋，仇人遍天下，江湖人称东灵跳跳蛙。
                        &nbsp;&nbsp;&nbsp;&nbsp;无数修士想方设法要弄死这群人，最后终于成功，剑修死伤殆尽，首领顾余生身陨，空巢长老释英抱着其尸体黯然离去。
                        &nbsp;&nbsp;&nbsp;&nbsp;然而，就在众人以为天下终于要消停了的时候，释英表示不服。他回到过去，把顾余生收作徒弟从头攻略剧情，顺便把自己塞进徒弟嘴里，誓要打出一个完美结局。
                        &nbsp;&nbsp;&nbsp;&nbsp;顾余生：师父，我可以吃你吗？
                        &nbsp;&nbsp;&nbsp;&nbsp;释英：你终于明白了为师的苦心，去，把锅架上。
                        &nbsp;&nbsp;&nbsp;&nbsp;顾余生：咦，这是什么新玩法？
                        &nbsp;&nbsp;&nbsp;&nbsp;相思成疾年下攻X包治百病木头受，长老重生后才发现掌门暗恋了自己一百年的注孤生惨案。
                        &nbsp;&nbsp;&nbsp;&nbsp;作话小剧场是给读者调节心情的彩蛋，与正文无关。
                        &nbsp;&nbsp;&nbsp;&nbsp;感谢画师4十枫绘制封面
                        &nbsp;&nbsp;&nbsp;&nbsp;作者的完结文：
                        &nbsp;&nbsp;&nbsp;&nbsp;《伪魔头》：渡劫过后自攻自受的故事
                        &nbsp;&nbsp;&nbsp;&nbsp;《鬼新郎》：恐婚高冷杀手攻X画风清奇厉鬼受
                        &nbsp;&nbsp;&nbsp;&nbsp;《主角每天吐血三升》：顽强执着直男攻X冷漠淡定黑化受
                        &nbsp;&nbsp;&nbsp;&nbsp;《主角令人退避三舍》：大乱斗穿书文，皮到上天仙君攻X猫系敏感写手受
                        &nbsp;&nbsp;&nbsp;&nbsp;专栏仙侠文《老江湖》预收中，正道魁首少年天才攻X魔教教主阵营斗士受。
                        &nbsp;&nbsp;&nbsp;&nbsp;作者微博：天桥底下说书的老火锅
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29501/" title="我的老婆是公主"><img
                            src="https://pic.dzz8.com/public/cover/95/f5/79/95f5795b2355da89e30d63a11cd77cb8.jpg"
                            alt="我的老婆是公主"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29501/" title="我的老婆是公主">我的老婆是公主</a></div>
                    <div class="pt-info"><a
                            href="/author/%E5%88%9D%E6%81%8B%E7%92%80%E7%92%A8%E5%A6%82%E5%A4%8F%E8%8A%B1/"
                            title="初恋璀璨如夏花">初恋璀璨如夏花</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/sort/dushi.html"
                                                                                   title="都市">都市</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;来自异世界的大魔王企图征服地球，为了拯救地球，李路由只好先收留这位大魔王……一朵自称公主殿下的小女孩。
                        &nbsp;&nbsp;&nbsp;&nbsp;—————————————
                        &nbsp;&nbsp;&nbsp;&nbsp;有个QQ新群：150990518（满）
                        &nbsp;&nbsp;&nbsp;&nbsp;又有个QQ新群：120744656
                        &nbsp;&nbsp;&nbsp;&nbsp;还有个QQ群：168402586
                        &nbsp;&nbsp;&nbsp;&nbsp;还有个QQ群:191012673
                        &nbsp;&nbsp;&nbsp;&nbsp;纵横聊聊求关注，登陆后点击作者名即可进行关注操作。
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29500/" title="重生香港大亨"><img
                            src="https://pic.dzz8.com/public/cover/e3/d7/19/e3d7192da5dd5ebf49f3c944cc1380ec.jpg"
                            alt="重生香港大亨"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29500/" title="重生香港大亨">重生香港大亨</a></div>
                    <div class="pt-info"><a href="/author/%E6%9A%B4%E5%90%9B%E5%AC%B4%E6%94%BF/" title="暴君嬴政">暴君嬴政</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;穿越于八十年代香港，立志要做娱乐大亨
                        &nbsp;&nbsp;&nbsp;&nbsp;如此，那就开始剽窃吧！
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29499/" title="穿成总裁前女友"><img
                            src="https://pic.dzz8.com/public/cover/59/0d/75/590d757dd44f225e68d1d68e6cc267ff.jpg"
                            alt="穿成总裁前女友"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29499/" title="穿成总裁前女友">穿成总裁前女友</a></div>
                    <div class="pt-info"><a href="/author/%E4%B9%9D%E7%B4%AB/" title="九紫">九紫</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;下篇文开这个《总裁老婆要离婚》，收藏不迷路哦~网页版：wap版：
                        &nbsp;&nbsp;&nbsp;&nbsp;【文案一】楚朝阳睡前看了本小说，里面总裁前女友的名字居然和她一样。
                        &nbsp;&nbsp;&nbsp;&nbsp;前女友肤白貌美腰细腿长。
                        &nbsp;&nbsp;&nbsp;&nbsp;就是下场不太好，先是身败名裂，后又家破人亡。
                        &nbsp;&nbsp;&nbsp;&nbsp;没想到一觉醒来，她居然变成了总裁的前女友。
                        &nbsp;&nbsp;&nbsp;&nbsp;楚朝阳惊恐：总裁，你忙。
                        &nbsp;&nbsp;&nbsp;&nbsp;你撩你的小仙女，我找我的大灰狼。
                        &nbsp;&nbsp;&nbsp;&nbsp;大灰狼：汪！
                        &nbsp;&nbsp;&nbsp;&nbsp;【文案二】我在黑暗里踽踽独行，直到遇见你。
                        &nbsp;&nbsp;&nbsp;&nbsp;你是我生命里的光。
                        &nbsp;&nbsp;&nbsp;&nbsp;【文案三】这一年，卢悠然今年很火啊，都快赶上了楚朝阳了！
                        &nbsp;&nbsp;&nbsp;&nbsp;又一年，古天王今年很火啊，都快赶上楚朝阳了！
                        &nbsp;&nbsp;&nbsp;&nbsp;有一阵，XMJ组合最近很火啊，都快赶上楚朝阳了！
                        &nbsp;&nbsp;&nbsp;&nbsp;……
                        &nbsp;&nbsp;&nbsp;&nbsp;N年后，周姓小鲜肉今年很火啊，都快赶上楚朝阳了！
                        &nbsp;&nbsp;&nbsp;&nbsp;粉丝：呵呵，铁打的楚朝阳，流水的小鲜肉。
                        &nbsp;&nbsp;&nbsp;&nbsp;她是这个时代的宠儿，一个红到无法拒绝的现象级巨星！
                        &nbsp;&nbsp;&nbsp;&nbsp;男主大灰狼
                        &nbsp;&nbsp;&nbsp;&nbsp;1、九紫出品，爽文保证。
                        &nbsp;&nbsp;&nbsp;&nbsp;2、防盗比例百分之六十。
                        &nbsp;&nbsp;&nbsp;&nbsp;3、别教我怎么写，我自己会写，谢谢。
                        &nbsp;&nbsp;&nbsp;&nbsp;4、提建议我欢迎，也非常感谢，我们随时探讨交流。
                        &nbsp;&nbsp;&nbsp;&nbsp;5、本文简单粗暴狗血甜爽，我们的宗旨是：不要憋屈只要爽~！
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/6305/" title="不良医生"><img
                            src="https://pic.dzz8.com/public/cover/02/e8/d0/02e8d01d29adf30dab1393a3b1203248.jpg"
                            alt="不良医生"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/6305/" title="不良医生">不良医生</a></div>
                    <div class="pt-info"><a href="/author/%E4%B8%89%E7%BE%8A%E7%8C%AA%E7%8C%AA/" title="三羊猪猪">三羊猪猪</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;陈阳，斯坦福大学最年轻的心理学、医学双学位获得者，开创诊断行为学的学科。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出没于世界各地战乱和冒险地带，游荡于地狱和天堂之间。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;权贵、富商、政要对其敬若上宾；&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;清纯校花、美艳御姐、冷艳白领环绕身边；&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还有一名萝莉样貌、腹黑心肠的小恶魔陪伴在左右；&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我可以看穿病人的谎言，看穿身体的欺骗，寻找到真正的病因救你的命。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是为了救你命可以不择手段的不良医生。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已经完本《都市藏娇》《天下收藏》《兼职丹医》。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ群73699821&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;56298968</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/27306/" title="星际之军医传奇"><img
                            src="https://pic.dzz8.com/public/cover/cf/58/c8/cf58c8ea29fefba964b5134d71410241.jpg"
                            alt="星际之军医传奇"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/27306/" title="星际之军医传奇">星际之军医传奇</a></div>
                    <div class="pt-info"><a href="/author/%E7%BA%B3%E7%A7%92%E8%BD%AE%E5%9B%9E/" title="纳秒轮回">纳秒轮回</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;戈轩在无尽的星空中，几经从零开始，创立自己的事业，在各方星战中纵横捭阖，在多种修炼体系中脱颖而出，成为星空的主宰……
                        &nbsp;&nbsp;&nbsp;&nbsp;本书QQ群：
                        &nbsp;&nbsp;&nbsp;&nbsp;20062438（已满）
                        &nbsp;&nbsp;&nbsp;&nbsp;23598642（新开）
                        &nbsp;&nbsp;&nbsp;&nbsp;附注：作者出版发行且完本的作品：《无赖折花》（全二十册）、《磁爆传说》（全十八册）
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/12108/" title="盾击"><img
                            src="https://pic.dzz8.com/public/cover/4b/a3/12/4ba312f53cb71e0c8d69a171ab96d9d2.jpg"
                            alt="盾击"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/12108/" title="盾击">盾击</a></div>
                    <div class="pt-info"><a href="/author/%E4%B9%9D%E5%93%BC/" title="九哼">九哼</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;九次涅盘，九次重生，历经千年打造的势力几乎可以覆盖整个联邦，渗透浩渺的星海，一百年后，他再一次浴火重生，重新降临在这个世界上……&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;披着人畜无害的外表，干着惊天动地的勾当。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美女们很纠结，当她们决定深度揭开他的神秘时，一层又一层，这个貌似纯洁的家伙如迷一样，让美女们陷入这种无休止的神秘探索中。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很多人非常看不惯这个人畜无害的家伙，当他们亲手制造了一场又一场悲剧时，才愕然发现，这个家伙简直就是马蜂窝，动了他，会引来诸多莫名其妙强悍而又不可思议的势力。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;读者群：93292167</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/2930/" title="一婚更比一婚高"><img
                            src="https://pic.dzz8.com/public/cover/1b/9c/e3/1b9ce31a4de36a829ee987fbcd33f925.jpg"
                            alt="一婚更比一婚高"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/2930/" title="一婚更比一婚高">一婚更比一婚高</a></div>
                    <div class="pt-info"><a href="/author/yzmb/" title="yzmb">yzmb</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/dushi.html" title="都市">都市</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;出轨老公，速度让其净身出户
                        &nbsp;&nbsp;&nbsp;&nbsp;刁蛮婆婆，不好意思不再伺候
                        &nbsp;&nbsp;&nbsp;&nbsp;养歪女儿，咱有万能老爹出马
                        &nbsp;&nbsp;&nbsp;&nbsp;离婚又如何，有纯情青梅竹马在候补
                        &nbsp;&nbsp;&nbsp;&nbsp;本辣妈一定会让你们明白：一婚更比一婚高
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29408/" title="逆天福运之农女青青"><img src="https://pic.dzz8.com/public/image/nocover.jpg"
                                                             alt="逆天福运之农女青青"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29408/" title="逆天福运之农女青青">逆天福运之农女青青</a></div>
                    <div class="pt-info"><a href="/author/%E7%BB%BF%E7%BB%BF/" title="绿绿">绿绿</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">
                        &nbsp;&nbsp;&nbsp;&nbsp;逆天福运之农女青青最新章节,逆天福运之农女青青无弹窗,逆天福运之农女青青全文阅读.
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/28781/" title="芍药记事"><img
                            src="https://pic.dzz8.com/public/cover/9f/e1/4a/9fe14ab9d41271fe2316d0740aa5d9fd.jpg"
                            alt="芍药记事"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/28781/" title="芍药记事">芍药记事</a></div>
                    <div class="pt-info"><a href="/author/%E8%93%9D%E8%89%BE%E8%8D%89/" title="蓝艾草">蓝艾草</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;夏家万贯家产，却只得夏芍药一个女儿。原本说好要入赘的青梅竹马的表哥要反悔，夏芍药一怒之下，随便捡了个人来入赘。******************************************************入到编辑通知，本文定于明天（十七号）入v，入绝转载！谢谢大家！———————————蓝艾草**************************************************************尝试开的现言新坑：男主一直在耍帅，想要进军实力演技派，有一天新来的助理说：你还是继续当花瓶男吧！一个花瓶男遭遇毒舌失恋女，大家共同进步的故事。**************************************************************专栏求包养：#微博来一发，随手发布更新信息。。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29404/" title="凡女仙葫"><img src="https://pic.dzz8.com/public/image/nocover.jpg" alt="凡女仙葫"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29404/" title="凡女仙葫">凡女仙葫</a></div>
                    <div class="pt-info"><a href="/author/%E5%86%AC%E5%A4%A9%E7%9A%84%E6%9F%B3%E5%8F%B6/" title="冬天的柳叶">冬天的柳叶</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;凡人少女莫清尘，是资质低下的四系伪灵根，修真之旅步步艰辛。幸亏随身酒葫芦，能催熟灵草，能……为她开启了一扇通天门。且看平凡少女如何携仙葫，玩转修真大陆，踏上问天之旅！感谢《极品赌后》的作者我叫李脸脸给本书作得封面，柳叶大爱啊。另外补充一句，柳叶已经有一本百万字的完本作品，所以坑品优良，童鞋们可以放心跳坑。</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29389/" title="重生之再婚一次"><img
                            src="https://pic.dzz8.com/public/cover/e4/66/3a/e4663acbf26665eccefece219e530e14.jpg"
                            alt="重生之再婚一次"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29389/" title="重生之再婚一次">重生之再婚一次</a></div>
                    <div class="pt-info"><a href="/author/%E5%B0%8F%E7%A1%95%E9%BC%A05030/" title="小硕鼠5030">小硕鼠5030</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;王静琪觉得自己这辈子都活的太窝囊了，出嫁前对父亲霸道不敢反抗，成家后对公婆、对丈夫的刁难不敢辩白，一辈子都在隐忍着别人，老了老了病倒床榻，身边却没有一个人可以说说话，更别说伺候了，她是何其的悲哀啊。在生命的尽头，她只有一个愿望，就是这一切可以重新再来一次。她憋屈够了……</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29388/" title="念春归"><img src="https://pic.dzz8.com/public/image/nocover.jpg"
                                                       alt="念春归"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29388/" title="念春归">念春归</a></div>
                    <div class="pt-info"><a
                            href="/author/%E5%AF%BB%E6%89%BE%E5%A4%B1%E8%90%BD%E7%9A%84%E7%88%B1%E6%83%85/"
                            title="寻找失落的爱情">寻找失落的爱情</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/sort/nvsheng.html" title="女生">女生</a>
                    </div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;少女时的慕念春常埋怨老天，世上既然已经有了自己，为什么还要有慕元春？很久以后，临死前的慕念春很平静的想着，这一生，其实谁都没有赢。重新睁开眼，她回到了十二岁的这一年。乱世尚未来临，一切都还来得及重新开始。她要为自己和家人谋一世平安。岁月静好，漫漫春归！----------------新书《凤回巢》已经通过审核~(≧▽≦)/~欢迎老读者们跳坑，收藏推荐留言~</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29385/" title="总裁，我要离婚"><img
                            src="https://pic.dzz8.com/public/cover/31/fe/f1/31fef1bb9ea4d6b06d2d21d1a692166e.jpg"
                            alt="总裁，我要离婚"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29385/" title="总裁，我要离婚">总裁，我要离婚</a></div>
                    <div class="pt-info"><a href="/author/%E7%BA%B3%E5%85%B0%E9%9B%AA%E5%A4%AE/" title="纳兰雪央">纳兰雪央</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/lingyi.html" title="灵异">灵异</a></div>
                    <div class="pt-desc ptm-text-cut2"></div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29382/" title="重生一九八五"><img
                            src="https://pic.dzz8.com/public/cover/38/93/6d/38936d8b78ecf015fad02b3c85af500a.jpg"
                            alt="重生一九八五"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29382/" title="重生一九八五">重生一九八五</a></div>
                    <div class="pt-info"><a href="/author/%E7%BC%96%E7%BB%87%E6%88%90%E7%9A%84%E6%A2%A6/" title="编织成的梦">编织成的梦</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;一个以金融风暴发家，发展实业，最终登上巅峰的传奇故事！！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ群：〖32127829(满）119514139（满）59762247（新）〗&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新书上传!</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29381/" title="都市天娇"><img
                            src="https://pic.dzz8.com/public/cover/8a/23/ba/8a23ba668891c73186489e7ff1613000.jpg"
                            alt="都市天娇"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29381/" title="都市天娇">都市天娇</a></div>
                    <div class="pt-info"><a href="/author/%E5%8D%97%E9%A3%8E%E7%97%95/" title="南风痕">南风痕</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;八年前，他被人陷害，被关进了中国最著名最恐怖的死亡监狱。
                        &nbsp;&nbsp;&nbsp;&nbsp;八年后，他重返都市解决当年所有的恩怨，当年害他的人都会因为他的归来付出惨痛的代价......
                        &nbsp;&nbsp;&nbsp;&nbsp;但是回来后的他也不在是以前的那个懵懂少年了，用他的话说就是——我要让这个世界因为我而颤抖......
                        &nbsp;&nbsp;&nbsp;&nbsp;本书保证完本，放心收藏！！！！！！
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29369/" title="穿到肉文里的女主伤不起"><img
                            src="https://pic.dzz8.com/public/cover/6a/10/7b/6a107b3860d28c2edc0ba9b03ba61e77.jpg"
                            alt="穿到肉文里的女主伤不起"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29369/" title="穿到肉文里的女主伤不起">穿到肉文里的女主伤不起</a></div>
                    <div class="pt-info"><a href="/author/%E7%A1%95%E9%BC%A0%E7%8C%9B%E4%BA%8E%E8%99%8E/" title="硕鼠猛于虎">硕鼠猛于虎</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2"></div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29368/" title="拾光里的我们"><img
                            src="https://pic.dzz8.com/public/cover/9a/50/0f/9a500f8b8fde1266f59e3150586b765b.jpg"
                            alt="拾光里的我们"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29368/" title="拾光里的我们">拾光里的我们</a></div>
                    <div class="pt-info"><a href="/author/%E9%9A%8F%E4%BE%AF%E7%8F%A0/" title="随侯珠">随侯珠</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/nvsheng.html" title="女生">女生</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;有关系好的同事偷偷问她和珈基本如实相告，消除同事的好奇心，“我爸曾拆散过他和女朋友。”以及，“我写情书追过他。”同事整个人都兴奋了，“结果呢？”“没追上。”也有好事者问他，和她的关系。他从来不想多说。至于原因，呵，他真不想跟那个脚踏多船、半途而废的女人再扯上什么关系。是不是所有未完待续的感情，都在寻找一个饰词。其实真的很简单——只要给我一个理由，便陪你共度一生。我的专栏，文荒可以进去瞧瞧，欢迎收藏我—我的微博—</div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29360/" title="超级神笔"><img
                            src="https://pic.dzz8.com/public/cover/a4/94/93/a49493bf0e366fd55b0001521b900955.jpg"
                            alt="超级神笔"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29360/" title="超级神笔">超级神笔</a></div>
                    <div class="pt-info"><a href="/author/%E6%A2%A6%E7%A5%9E%E7%AC%94/" title="梦神笔">梦神笔</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/dushi.html" title="都市">都市</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;还记得那一段青葱岁月吗？
                        &nbsp;&nbsp;&nbsp;&nbsp;还记得那暗恋过的可望不可即的优秀女生吗？
                        &nbsp;&nbsp;&nbsp;&nbsp;还记得李雷和韩梅梅以及让你脸红心跳过的美丽的女老师吗？
                        &nbsp;&nbsp;&nbsp;&nbsp;如果重生到初中时代，你想做什么？
                        &nbsp;&nbsp;&nbsp;&nbsp;想学习第一？想淘金发财？
                        &nbsp;&nbsp;&nbsp;&nbsp;ok，重生加神笔，一切皆有可能！
                        &nbsp;&nbsp;&nbsp;&nbsp;这是一个80后重生到98年初中时代改变历史的故事！
                        &nbsp;&nbsp;&nbsp;&nbsp;神笔小介：500年后的高科技产品，有七大功能，第一个是医疗功能，有了神笔没有医师执照我同样是神医，其他功能内详。
                        &nbsp;&nbsp;&nbsp;&nbsp;ps1：普通群群(43189904)，vip铁杆群54328278收vip用户，进群后发截图验证，欢迎书友加入
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29352/" title="不攻自倒"><img
                            src="https://pic.dzz8.com/public/cover/e9/6f/0c/e96f0c2a96610bfd80ec69b7865ad0f6.jpg"
                            alt="不攻自倒"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29352/" title="不攻自倒">不攻自倒</a></div>
                    <div class="pt-info"><a href="/author/%E7%84%89%E7%9F%A5%E5%86%B7%E6%9A%96/" title="焉知冷暖">焉知冷暖</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/tongren.html" title="同人">同人</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;不攻自倒是焉知冷暖写的耽美言情类小说....段楚扬说：遇见你是我的缘。
                        &nbsp;&nbsp;&nbsp;&nbsp;易柳斯说：遇见你是我的劫。
                        &nbsp;&nbsp;&nbsp;&nbsp;命中注定的相遇，却因同性恋这类敏感话题望而却步，苦苦守候的恋情遭受家人百般阻挠，分离两年的痛苦，重逢时刻又将爆发怎样的爱情火花？
                        &nbsp;&nbsp;&nbsp;&nbsp;十年修得同船渡，百年修得共枕眠，我只愿执子之手，与子偕老。
                        &nbsp;&nbsp;&nbsp;&nbsp;多年以后，他依偎在他的怀里，笑看浮世苍生，他亲吻他的眼睛，我这一辈子最坚持的一件事，就是矢志不渝地爱你。
                        &nbsp;&nbsp;&nbsp;&nbsp;(温柔霸道攻X知性斯文受，喜欢快戳进来~~求花求票求贵宾求章子）
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29344/" title="绝色男修皆炉鼎"><img
                            src="https://pic.dzz8.com/public/cover/f1/9d/df/f19ddfa40b1e94162cd604a6f581efcf.jpg"
                            alt="绝色男修皆炉鼎"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29344/" title="绝色男修皆炉鼎">绝色男修皆炉鼎</a></div>
                    <div class="pt-info"><a href="/author/%E5%82%B2%E8%96%87/" title="傲薇">傲薇</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/xuanhuan.html" title="玄幻">玄幻</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;一觉醒来，来到神异莫测的修仙世界，但却成了一个被抛弃的炮灰正道女修士……
                        &nbsp;&nbsp;&nbsp;&nbsp;幸好有俊男仙灵图在手，内蕴空间，每吸收一名俊男的阳元，就能提升功能，凑齐三十六位顶级美男，将会成为真正的仙器！
                        &nbsp;&nbsp;&nbsp;&nbsp;为了在残酷的修仙世界生存下来，某女决定丢掉节操，坑蒙拐骗，偷取美男的真心，夺取阳元……
                        &nbsp;&nbsp;&nbsp;&nbsp;炮灰终有逆袭时，只为成仙渡长生！
                    </div>
                </div>
            </li>
            <li>
                <div class="pt-cover">
                    <a href="/29331/" title="兰香缘"><img
                            src="https://pic.dzz8.com/public/cover/61/68/0d/61680d7b323ddd0b5549863c7083d3e1.jpg"
                            alt="兰香缘"></a>
                </div>
                <div class="pt-novel">
                    <div class="pt-name"><a href="/29331/" title="兰香缘">兰香缘</a></div>
                    <div class="pt-info"><a href="/author/%E7%A6%BE%E6%99%8F%E5%B1%B1/" title="禾晏山">禾晏山</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="/sort/youxi.html" title="游戏">游戏</a></div>
                    <div class="pt-desc ptm-text-cut2">&nbsp;&nbsp;&nbsp;&nbsp;她是首辅的孙女，家族卷入夺嫡风波获罪。与新婚丈夫双双死在发配途中。她带着记忆转世投胎，成为江南望族林家的家生丫鬟陈香兰。这一生，香兰有四朵桃花。一朵不能要，一朵她不要，一朵还没开好就谢了还有一朵......唉，不省心啊......这是一个小丫鬟想脱离宅门而不得的故事－－－－－－－－小禾书友群70981280敲门砖是小禾任意一个小说的名字，申请也请注明起点ID，非起点人士加92439631^_^</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="ptm-card-footer " style="padding:0 10px;height:50px;">
        <div class="pt-dir-page ptm-clearfix">
            <div class="ptm-col-xs-3">
                <a class="ptm-btn ptm-btn-primary ptm-btn-block ptm-btn-outlined" href="/over/1.html">上一页</a>
            </div>
            <div class="ptm-col-xs-6" style="padding:0 10px;">
                <button class="ptm-btn ptm-btn-primary ptm-btn-block ptm-btn-outlined showdir"><span>第1页 </span><i
                        class="fa fa-angle-down pt-dir-icon"></i></button>
            </div>
            <div class="ptm-col-xs-3">
                <a class="ptm-btn ptm-btn-primary ptm-btn-block ptm-btn-outlined" href="/over/2.html">下一页</a>
            </div>
        </div>
    </div>
</div>
</section>

<div class="sel ptm-hide">
    <div class="ptm-alert-shade"></div>
    <div class="pt-dir-sel" style="background-position: left 50px;">
        <p class="title">请选择页码</p>
        <ul>
            <li class="active"><a href="/over/">第1页</a></li>
            <li><a href="/over/2.html">第2页</a></li>
            <li><a href="/over/3.html">第3页</a></li>
            <li><a href="/over/4.html">第4页</a></li>
            <li><a href="/over/5.html">第5页</a></li>
            <li><a href="/over/6.html">第6页</a></li>
            <li><a href="/over/7.html">第7页</a></li>
            <li><a href="/over/20.html">第20页</a></li>
        </ul>
    </div>
</div>
{% endblock %}